In [57]:
from json import loads, dumps
import pandas as pd
import numpy as np
from time import sleep
PATH = "../data/test.log"

In [58]:
df = pd.read_csv("test.log")

In [59]:
df

,datetime,tempA,tempB,massA,massB,high_pressure,low_pressure,vaccum,flow
0,2024-06-28 21:42:20,-100.035,-98.011,28.961558,8.712174,0.067155,154.304029,0.00012,1.227679
1,2024-06-28 21:42:22,-100.037,-98.011,28.967681,8.712174,0.067155,154.609280,0.00012,2.436470
2,2024-06-28 21:42:23,-100.038,-98.010,28.967681,8.712174,0.067155,154.914530,0.00012,2.870879
3,2024-06-28 21:42:24,-100.040,-98.010,28.979928,8.712174,0.067155,154.914530,0.00012,1.983173
4,2024-06-28 21:42:25,-100.041,-98.009,28.961558,8.712174,0.067155,154.609280,0.00012,1.359890
...,...,...,...,...,...,...,...,...,...
43893,2024-06-29 12:04:04,-68.940,-66.623,29.108514,8.712174,-0.027473,59.981685,0.00027,0.000000
43894,2024-06-29 12:04:06,-68.922,-66.605,29.108514,8.712174,-0.027473,59.981685,0.00027,0.000000
43895,2024-06-29 12:04:07,-68.904,-66.587,29.108514,8.712174,-0.027473,59.981685,0.00027,0.000000
43896,2024-06-29 12:04:08,-68.886,-66.569,29.108514,8.712174,-0.027473,59.981685,0.00027,0.000000
43897,2024-06-29 12:04:09,-68.867,-66.551,29.108514,8.712174,-0.027473,59.981685,0.00027,0.000000

In [66]:
df['datetime'].iloc[-1]

'2024-06-29 12:04:09'

In [60]:
for i in range(5):
    print(dumps(list(df.iloc[i])))

["2024-06-28 21:42:20", -100.035, -98.011, 28.961557971015168, 8.712173913043458, 0.0671550671550669, 154.30402930402929, 0.00012, 1.2276785714285712]
["2024-06-28 21:42:22", -100.037, -98.011, 28.96768115942097, 8.712173913043458, 0.0671550671550669, 154.60927960927958, 0.00012, 2.436469780219781]
["2024-06-28 21:42:23", -100.038, -98.01, 28.96768115942097, 8.712173913043458, 0.0671550671550669, 154.91452991452988, 0.00012, 2.8708791208791222]
["2024-06-28 21:42:24", -100.04, -98.01, 28.97992753623257, 8.712173913043458, 0.0671550671550669, 154.91452991452988, 0.00012, 1.9831730769230769]
["2024-06-28 21:42:25", -100.041, -98.009, 28.961557971015168, 8.712173913043458, 0.0671550671550669, 154.60927960927958, 0.00012, 1.3598901098901095]

In [ ]:
with open(PATH,"w") as ini_file1:
    ini_file1.write('datetime,tempA,tempB,massA,massB,high_pressure,low_pressure,vaccum,flow\n')

for i in range(len(df)):
    with open(PATH,"a") as file1:
        file1.write(dumps(list(df.iloc[i]))[1:-1] + '\n')
    sleep(1)

In [51]:
data = pd.read_csv(PATH)[-100:]

In [52]:
data

,datetime,tempA,tempB,massA,massB,high_pressure,low_pressure,vaccum,flow
479,2024-06-28 21:51:45,-99.957,-97.990,28.937065,8.712174,0.057998,142.857143,0.00012,1.076580
480,2024-06-28 21:51:46,-99.937,-97.989,28.937065,8.712174,0.057998,142.857143,0.00012,1.624313
481,2024-06-28 21:51:47,-99.918,-97.988,28.937065,8.712174,0.057998,142.704518,0.00012,1.605426
482,2024-06-28 21:51:48,-99.900,-97.988,28.924819,8.712174,0.057998,142.704518,0.00012,3.361951
483,2024-06-28 21:51:49,-99.883,-97.988,28.937065,8.712174,0.057998,142.857143,0.00012,2.870879
...,...,...,...,...,...,...,...,...,...
574,2024-06-28 21:53:37,-99.662,-98.040,28.912572,8.712174,0.054945,141.330891,0.00012,1.416552
575,2024-06-28 21:53:38,-99.661,-98.043,28.912572,8.712174,0.054945,141.330891,0.00012,1.662088
576,2024-06-28 21:53:39,-99.659,-98.045,28.912572,8.712174,0.054945,141.178266,0.00012,3.021978
577,2024-06-28 21:53:40,-99.641,-98.048,28.912572,8.712174,0.057998,141.025641,0.00012,1.964286
578,2024-06-28 21:53:41,-99.627,-98.051,28.918696,8.712174,0.057998,141.178266,0.00012,1.586538

In [41]:
np.array(data['datetime'])[len(data) // 2]

'2024-06-29 12:01:14'